body {
    font-size: 30px;
    background: linear-gradient(to right, #028445, #181f89);
    color: aliceblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    align-items: center;
    display: flex;
    justify-content: center;
}